estimate body weights using long short memory network.

The Long Short-Term Memory network, or LSTM network, is a recurrent neural network that is trained using Backpropagation Through Time and overcomes the vanishing gradient problem. (http://machinelearningmastery.com/time-series-prediction-lstm-recurrent-neural-networks-python-keras/)

In [ ]:
%matplotlib inline
from body_weight_predictor.base_etl import BaseETL

BaseETL('bw_ross_308.csv', start_of_predicition=30,dependend_variable_period=35, show_plot=True).process()

,age_days,bw_x,bw_y,bw_x.1,bw_y.1,bw_x.2,bw_y.2,bw_x.3,bw_y.3,bw_x.4,...,bw_y.267,bw_x.268,bw_y.268,bw_x.269,bw_y.269,bw_x.270,bw_y.270,bw_x.271,bw_y.271,bw
139,0,NaN,42,38,42,43,42,67,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,1,NaN,59,56,60,59,61,76,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,1,NaN,59,56,60,59,61,76,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,2,NaN,76,75,79,77,82,94,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,2,NaN,76,75,79,77,82,94,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
# remove empty columns
df_raw = df_raw.dropna(axis=1, how='all')

# we can have only 1 value per day for bw.
df_raw = df_raw.drop_duplicates(cols='age_days')

df_raw.head(20)

,age_days,bw_x,bw_y,bw_x.1,bw_y.1,bw_x.2,bw_y.2,bw_x.3,bw_y.3,bw_x.4,...,bw_x.238,bw_y.238,bw_x.239,bw_y.239,bw_x.240,bw_y.240,bw_x.241,bw_y.241,bw_x.242,bw_y.242
139,0,NaN,42,38,42,43,42,67,NaN,0,...,0,0,NaN,45,0,NaN,0,0,0,48
137,1,NaN,59,56,60,59,61,76,NaN,0,...,46,50,NaN,49,51,NaN,49,48,47,47
136,2,NaN,76,75,79,77,82,94,NaN,0,...,55,55,NaN,61,62,NaN,57,58,55,56
131,3,NaN,93,90,101,96,101,108,NaN,0,...,68,70,NaN,79,80,NaN,72,71,70,72
130,4,NaN,112,112,122,117,122,126,NaN,0,...,85,88,NaN,102,100,NaN,92,89,88,91
129,5,NaN,134,131,143,141,144,146,NaN,0,...,104,111,NaN,125,122,NaN,114,110,110,113
128,6,NaN,155,154,166,163,166,168,NaN,0,...,127,136,NaN,152,148,NaN,136,135,135,139
127,7,NaN,177,175,188,186,189,189,NaN,0,...,152,164,NaN,181,175,NaN,163,161,165,167
126,8,NaN,216,216,226,224,229,235,NaN,0,...,179,194,NaN,211,205,NaN,195,191,195,198
125,9,NaN,255,255,265,263,270,270,NaN,0,...,209,230,NaN,247,237,NaN,232,229,231,234
124,10,NaN,294,289,304,303,309,319,NaN,0,...,245,269,NaN,287,274,NaN,270,265,269,273
123,11,NaN,333,333,349,343,348,365,NaN,0,...,284,308,NaN,328,319,NaN,311,307,307,311
122,12,NaN,378,372,393,388,395,440,NaN,0,...,325,349,NaN,376,363,NaN,358,352,350,357
121,13,NaN,424,413,434,436,447,458,NaN,0,...,373,394,NaN,427,416,NaN,408,405,397,409
120,14,NaN,464,458,481,489,493,518,NaN,0,...,424,446,NaN,477,472,NaN,459,449,451,459
88,15,NaN,528,523,549,553,558,591,NaN,0,...,478,498,NaN,525,531,NaN,509,500,505,503
55,16,NaN,596,591,616,611,623,659,NaN,0,...,536,553,NaN,573,596,NaN,567,555,558,551
45,17,686,660,653,688,679,684,734,643,0,...,599,610,NaN,618,658,NaN,628,618,620,616
43,18,739,727,722,750,741,742,802,730,0,...,670,670,NaN,689,728,NaN,699,683,674,682
42,19,809,808,790,824,813,808,863,796,0,...,749,745,NaN,752,802,NaN,760,751,719,745

,age_days,bw_x,bw_y,bw_x.1,bw_y.1,bw_x.2,bw_y.2,bw_x.3,bw_y.3,bw_x.4,...,bw_x.238,bw_y.238,bw_x.239,bw_y.239,bw_x.240,bw_y.240,bw_x.241,bw_y.241,bw_x.242,bw_y.242
0,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN